* {
  margin: 0;
  padding: 0;
}

html,body {
  height: 100%;
  background-color: rgb(29, 29, 29, 0.9);
  background-image: url("home-page.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.wrapper {
  color: white;
  margin-top: 5em;
  margin-left: 13em;
  margin-right: 4em;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

nav ul {
  display: flex;
  gap: 3em;
}

li {
  list-style-type: none;
}

.restaurant-title {
  font-family: "Whisper", cursive;
  font-weight: 550;
  font-style: normal;
  font-size: 7em;
  letter-spacing: 4px;
}

button {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.5em;
  font-weight: 550;
  font-style: normal;
  color: white;
  background: none;
  border: none;
  cursor: pointer;

}

.about {
  margin-right: 1.25em;
}

#quote {
  margin-top: 7em;
  margin-left: 5em;
  font-size: 2.75em;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

#menu-container {
  display: flex;
  flex-direction: column;
  margin-left: 12em;
  margin-right: 12em;
  background-color: white;
  color: black;
  border-radius: 4px;
  max-width: 50%;
  min-width: 300px;
  padding-top: 3em;
  padding-bottom: 1.5em;
  
}

.menu-headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.75em;
  font-family: "My Soul", cursive;
  font-weight: 450;
  font-style: normal;
  margin-top: .5em;
}


.plates {
  font-size: .55em;
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}

.plate-descriptions {
  font-size: .3em;
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}

#about-container {
  display: grid;
  background-color: white;
  color: black;
}



