* {
  margin: 0;
  padding: 0;
}

html,body {
  height: 100%;
  background-color: rgb(29, 29, 29, 0.9);
  background-image: url("home-page.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.wrapper {
  color: white;
  margin-top: 5em;
  margin-left: 13em;
  margin-right: 4.7em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

nav ul {
  display: flex;
  gap: 3em;
}

li {
  list-style-type: none;
}

.restaurant-title {
  font-family: "Whisper", cursive;
  font-weight: 550;
  font-style: normal;
  font-size: 7em;
  letter-spacing: 4px;
}

button {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.5em;
  font-weight: 550;
  font-style: normal;
  color: white;
  background: none;
  border: none;
  cursor: pointer;

}

#quote {
  margin-top: 8.6em;
  margin-left: 19.5em;
  font-size: 2.75em;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
}

#menu-container {
  display: flex;
  flex-direction: column;
  margin-left: 12em;
  margin-right: 12em;
  background-color: rgb(255, 223, 223);
  color: black;
  border-radius: 4px;
  max-width: 50%;
  min-width: 300px;
  padding-top: 3em;
  padding-bottom: 1.5em;
  opacity: .9;
  
}

.menu-headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.75em;
  font-family: "My Soul", cursive;
  font-weight: 450;
  font-style: normal;
  margin-top: .5em;
}


.plates {
  font-size: .55em;
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}

.plate-descriptions {
  font-size: .3em;
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}

#about-container {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: repeat(20, minmax(0, 1fr));
  background-color: rgb(255, 223, 223);
  color: black;
  border-radius: 4px;
  opacity: .9;


}

.para {
  grid-column: 1 / 4;
  grid-row: 5 / 17;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 450;
  color: black;
  border-radius: 2px;
  margin-left: 3em;
}

.about-pic {
  background-image: url("about-pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-column: 6 / 10;
  grid-row: 1 / 15;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.contact-div {
  grid-column: 5 / 7;
  grid-row: 16 / 22;
  background-color: black;
  color: rgb(255, 223, 223);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  padding-top: 4px;

}

.contact-color{
  color: rgb(8, 149, 214);
}

#submit, #cancel{
  color: black;
}

dialog::backdrop {
    min-height: 100vh;
    text-align: center;
    border: none;
    border-radius: 6px;
    backdrop-filter: blur(3px);
}

.dialog-content {
    
    width: 350px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    background-color: rgb(255, 223, 223);
    
}

#form {
    width: 100%; 
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(255, 223, 223);
    border-radius: 6px;
    margin-top: 1em;
}

.form-div {
    display: grid;
    padding-bottom: 1em;
}

input {
    font: inherit;
    outline: none;
    color: black;
    background-color: rgb(255, 223, 223);
    border-radius: 6px;
}

input[type="number"], input[type="datetime-local"], input[type="text"] {
  padding-left: 5em;
  height: 2em;
}

label {
    margin-bottom: .75em;
}

#submit, #cancel {
    background: var(--color-back);
    border-radius: 0.5em;
    box-shadow:
        inset 0px -6px 18px -6px rgba(3, 15, 20, 0),
        inset rgba(54, 69, 75, 1) -1px -1px 6px 0px,
        inset 12px 0px 12px -6px rgba(3, 15, 20, 0),
        inset -12px 0px 12px -6px rgba(3, 15, 20, 0),
        rgba(54, 69, 75, 1) -1px -1px 6px 0px;
    border: solid .2px #030f14;
    cursor: pointer;
    font-size: 18px;
    padding: 0.7em 1.7em;
    outline: none;
    transition: all 0.3s;
    user-select: none;
    color: black;
}